# Python-specific ignore patterns
*/.mypy_cache/*
*/__pycache__/*
*.pyc
*.pyo
*.pyd

# Log files
Automation/Data/Logs/debugging_file.log
logfile.csv

# Virtual environment directories
Automation/venv/*